.btn {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  border-radius: 8px;
  padding: 15px 15px;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn--primary {
  background-color: var(--primary);
  color: var(--white);
  border: none;
}
.btn--primary:hover {
  background-color: var(--primary-hover);
}
.btn--secondary {
  background-color: var(--secondary);
  color: var(--white);
  border: none;
}
.btn--secondary:hover {
  background-color: var(--secondary-hover);
}
.btn--alternative {
  color: var(--grey-4);
  background-color: var(--white);
  border: 1px solid var(--alternative);
}
.btn--alternative:hover {
  border-color: var(--alternative-hover);
}
.btn--disabled {
  opacity: 0.5;
  pointer-events: none;
}
