.skeleton {
  background-color: var(--white);
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  padding: 32px 40px 32px 25px;
  display: flex;
  flex-direction: column;
  max-width: 580px;
  width: 100%;
}
.skeleton__header {
  display: flex;
  margin-bottom: 25px;
}

.skeleton__ava {
  max-width: 64px;
  width: 100%;
  height: 64px;
  border-radius: 100%;
  background-color: var(--grey-2);
  margin-right: 16px;
}

.skeleton__lines {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.skeleton__line {
  width: 100%;
  height: 20px;
  background: linear-gradient(
    92.51deg,
    #dde2e5 6.44%,
    #e2e6e8 38.47%,
    #f3f5f5 56.48%,
    #e3e7ea 77.5%,
    #dde2e5 102.52%
  );
  display: inline-block;
}
.short {
  max-width: 172px;
}

.middle {
  max-width: 257px;
}

.indented {
  margin-bottom: 8px;
}
